<div class="absolute top-5 left-5 flex justify-center items-center gap-5">
    <img src="/assets/spacecrafticon.png" class="w-20 pointer-events-none">
    <div class="tabs tabs-boxed">
        <a class="tab" href="/index.html">
            <i class="fa-solid fa-house mr-[7px]"></i>Home
        </a>
        <a class="tab" href="/about.html">
            <i class="fa-solid fa-user mr-[7px]"></i>
            About
        </a> 
        <a class="tab tab-active" href="/cosmetics.html">
            <i class="fa-solid fa-palette mr-[7px]"></i>
            Cosmetics
        </a>
    </div>
</div>